name: Main Workflow
on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
  schedule:
  - cron: '*/30 * * * *'
jobs:
#  build:
#    runs-on: ["windows-latest"]
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2.4.0
#      - name: Build with py2exe
#        run: |
#          pip install py2exe
#          cd app
#          python build_to_exe.py py2exe
  publish:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Publish
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Pokemon-PythonRed
          template: classic
          plugin_introduction: yes
          plugin_introduction_title: no
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_indepth: no
          plugin_languages_categories: data, programming
          plugin_traffic: yes
